<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
  <a class="navbar-brand" href="#">MoodleNet</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <%= if @current_user do %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= @current_user.email %>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%# FIXME %>
            <%# <%= link("Actor", to: APRoutes.actor_path(@conn, :show, @current_user.primary_actor_id), class: "dropdown-item") %1> %>
            <div class="dropdown-divider"></div>
            <%= link("Logout", to: Routes.session_path(@conn, :delete), method: :delete, class: "dropdown-item") %>
          </div>
        </li>
      <% else %>
        <%= link("Log in", to: Routes.session_path(@conn, :new), class: "nav-link") %>
        <%= link("Register", to: Routes.user_path(@conn, :new), class: "nav-link") %>
      <% end %>
    </ul>
  </div>
</nav>
